Django>=4.2
djangorestframework
django-cors-headers
django-rest-knox
Pillow
networkx
numpy
shap
SpeechRecognition
tensorflow
openai-whisper
transformers
torch
soundfile
librosa
opencv-python-headless
easyocr
av>=16,<18
